<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           	http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd
          	http://www.springframework.org/schema/beans
           	http://www.springframework.org/schema/beans/spring-beans.xsd
           	http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- base configuration -->
	<context:annotation-config />
	<context:component-scan base-package="com.github.shanks" />
	<context:property-placeholder location="classpath:*.properties" />
	<!-- base configuration end -->

	<!-- rabbit connection -->
	<rabbit:connection-factory id="cachingConnectionFactory"
		channel-cache-size="${rabbit.poolsize}" addresses="${rabbit.addresses}"
		username="${rabbit.username}" password="${rabbit.password}" />

	<rabbit:template id="rabbitTemplate" retry-template="retryTemplate"
		connection-factory="cachingConnectionFactory" message-converter="jsonMessageConverter">
	</rabbit:template>

	<bean id="jsonMessageConverter" class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"></bean>

	<bean id="retryTemplate" class="org.springframework.retry.support.RetryTemplate">
		<property name="backOffPolicy">
			<bean class="org.springframework.retry.backoff.ExponentialBackOffPolicy">
				<property name="initialInterval" value="500" />
				<property name="multiplier" value="10.0" />
				<property name="maxInterval" value="10000" />
			</bean>
		</property>
	</bean>

	<!-- rabbit admin -->
	<rabbit:admin auto-startup="true" connection-factory="cachingConnectionFactory" />

	<!-- rabbit declare queues -->
	<rabbit:queue name="${basketball.queue}"></rabbit:queue>
	<rabbit:queue name="${football.queue}"></rabbit:queue>
	<rabbit:queue name="${sport.queue}"></rabbit:queue>
	<rabbit:queue name="${mail.queue}"></rabbit:queue>

	<!-- rabbit declare exchange -->
	<rabbit:direct-exchange name="">
		<rabbit:bindings>
			<rabbit:binding key="${mail.routingKey}" queue="${mail.queue}"></rabbit:binding>
		</rabbit:bindings>
	</rabbit:direct-exchange>

	<rabbit:topic-exchange name="${sport.exchange}">
		<rabbit:bindings>
			<rabbit:binding pattern="${sport.routingkey}" queue="${sport.queue}"></rabbit:binding>
			<rabbit:binding pattern="${football.routingkey}" queue="${football.queue}"></rabbit:binding>
			<rabbit:binding pattern="${basketball.routingkey}" queue="${basketball.queue}"></rabbit:binding>
		</rabbit:bindings>
	</rabbit:topic-exchange>

</beans>