<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           	http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd
          	http://www.springframework.org/schema/beans
           	http://www.springframework.org/schema/beans/spring-beans.xsd
           	http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- base configuration -->
	<context:annotation-config/>
	<context:component-scan base-package="com.github.shanks"/>
	<context:property-placeholder location="classpath:*.properties"/>
	<!-- base configuration end -->

	<!-- rabbit configuration -->
	<rabbit:connection-factory id="rabbitConnectionFactory"
		host="${host}" port="${port}" username="${username}" password="${password}"
		channel-cache-size="${poolsize}" />
	

	<!-- declare queue and exchange -->
	<rabbit:queue name="${queuename}" />

	<rabbit:direct-exchange name="${exchange}">
		<rabbit:bindings>
			<rabbit:binding key="${routing.key}" queue="${queuename}" >
			</rabbit:binding>
		</rabbit:bindings>
	</rabbit:direct-exchange>
	<!-- end declare queue and exchange -->

	<rabbit:admin id="rabbitAdmin" connection-factory="rabbitConnectionFactory"
		auto-startup="true" />

	<rabbit:template id="rabbitTemplate"
		connection-factory="rabbitConnectionFactory" routing-key="${routing.key}">
	</rabbit:template>
	<!-- rabbit configuration end -->

	<!-- <bean id="rabbitConnectionFactory" class="com.rabbitmq.client.ConnectionFactory"> 
		<property name="username" value="${username}"></property> <property name="password" 
		value="${password}"></property> <property name="host" value="${host}"></property> 
		<property name="port" value="${post}"></property> </bean> <bean id="connectionFactory" 
		class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory"> 
		<constructor-arg ref="rabbitConnectionFactory" ></constructor-arg> </bean> 
		<bean id="rabbitTemplate" class="org.springframework.amqp.rabbit.core.RabbitTemplate"> 
		<property name="routingKey" value="rabbit-spring-queue"></property> <property 
		name="connectionFactory" ref="connectionFactory"></property> </bean> -->
</beans>